{% set profile = pillar["netcfg_profiles"][index] %}
CONNECTION='{{ profile.get('connection', 'wireless') }}'
DESCRIPTION='Connection for {{ profile.name }}'
INTERFACE='{{ profile.get('interface', 'wlan0') }}'
IP='{{ profile.get('ip', 'dhcp') }}'
{%- if 'addr' in profile %}
ADDR='{{ profile.addr }}'
{%- endif %}
{%- if 'essid' in profile %}
SECURITY='wpa-configsection'
{%- endif %}

{%- if 'post_up' in profile %}
POST_UP="{{ profile.post_up }}"
{%- endif %}

{% if 'essid' in profile %}
CONFIGSECTION='
    ssid="{{ profile.essid }}"
    {%- if 'psk' in profile %}
    psk="{{ profile.psk }}"
    {%- elif 'eap' in profile %}
    eap={{ profile.eap }}
    anonymous_identity="{{ profile.identity }}"
    identity="{{ profile.identity }}"
    password="{{ profile.password }}"
    {%- endif %}
    key_mgmt={{ profile.get('key_mgmt', 'NONE') }}'
{% endif %}
